.itemdetail {
    color: red;
}

h1,h2,h3,h4 {
    color: #fff;
    margin-bottom: 1.5rem;
}

.price {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.product__detail {
    color: #fff;
    margin-bottom: 50px;
}

.product__features {
    margin-top: 40px;
    color: #d3d3d394;
    font-size: 18px;
}

.product__features_container {
    margin-top: 0;
}

.container {
    width: 98%;
    margin: auto;
}

@media screen and (min-width:768px) {
    .container {
        width: 70%;
    }
}

.detail {
    margin-left: 160px;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}


.detail__image {
    width: 100%;
    margin-top: 100px;
    opacity: 0.8;
}

.detail__image:hover {
    opacity: 1;
}

.content {
    width: 100%;
}

@media screen and (min-width:768px) {
    .detail__image {
        width: 600px;
    }
    .content {
        padding-top: 6rem;
        padding-left: 6rem;
        width: 50%;
    }
}

/* .purchase__buttons {
    display: grid;
    margin-top: 50px;
}

.btn__buy {
    margin: 0 0 50px;
    color: #fff;
    background: #000;
    width: 14rem;
    height: 2rem;
    border: 1px solid #fff;
}

.btn__buy:hover {
    background-color: #1d1b1b;
} */

/* .checkOut {
    display: flex;
    margin-top: 50px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    width: 8rem;
    height: 4rem;
    padding: 16px 24px;
    transition: all .6s;
}

.checkOut:hover {
    transition: all .6s;
    background-color: #f3e2e257;
} */

/* CSS */
.checkOut {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 16%;
    will-change: transform;
    margin-top: 50px
}

.checkOut:disabled {
    pointer-events: none;
}

.checkOut:hover {
    box-shadow: rgba(180, 5, 5, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.checkOut:active {
    box-shadow: none;
    transform: translateY(0);
}