.itemdetail {
    color: red;
}

h1,h2,h3,h4 {
    color: #fff;
    margin-bottom: 1.5rem;
}

.price {
    color: #fff;
    font-size: 22px;
}

.product__detail {
    color: #fff;
    margin-bottom: 50px;
}

.product__features {
    margin-top: 40px;
    color: #d3d3d394;
    font-size: 18px;
}

.product__features_container {
    margin-top: 0;
}

.container {
    width: 98%;
    margin: auto;
}

@media screen and (min-width:768px) {
    .container {
        width: 70%;
    }
}

.detail {
    margin-left: 160px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image {
    width: 100%;
}

.content {
    width: 100%;
}

@media screen and (min-width:768px) {
    .detail__image {
        width: 50%;
    }
    .content {
        padding-left: 3rem;
        width: 50%;
    }
}

/* .purchase__buttons {
    display: grid;
    margin-top: 50px;
}

.btn__buy {
    margin: 0 0 50px;
    color: #fff;
    background: #000;
    width: 14rem;
    height: 2rem;
    border: 1px solid #fff;
}

.btn__buy:hover {
    background-color: #1d1b1b;
} */

.checkOut {
    display: flex;
    margin-top: 50px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    width: 8rem;
    height: 4rem;
    padding: 16px 24px;
    transition: all .6s;
}

.checkOut:hover {
    transition: all .6s;
    background-color: #f3e2e257;
}

